*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter, sans-serif;
}
.header{
        padding: 2rem;
        background: #fafafa;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 15px 40px -20px #282c3f26;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
}

.logo{
    width: 25rem;
}
.search{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: #eee;
    border: 2px solid #ccc;
}
.header__search-input {
    font-size: 1.6rem;
    font-weight: 500;
    width: 40rem;
    font-family: inherit;
    padding: 1rem 2rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: inherit;
}
/* input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding-block: 1px;
    padding-inline: 2px;
} */
.header__search-input:focus {
    outline: none;
    border: none;
}
.header__search-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
}
.header__search-submit{
    font-size: 2.5rem;
    color: #999;
}